<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="All" verbose="1" >
    <test name="LoginTest" >
        <classes>
            <class name="com.ui.auto.challenge.test.LoginTest" />
        </classes>
    </test>
    <test name="PurchaseTest" >
        <classes>
            <class name="com.ui.auto.challenge.test.PurchaseTest" />
        </classes>
    </test>
</suite>
